<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets async="true">
    <target name="logconsole" xsi:type="ColoredConsole" layout="${longdate}|${logger}|${level:uppercase=true}|${message}${onexception:|EXCEPTION|${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}">
      <highlight-row backgroundColor="NoChange" condition="level== LogLevel.Fatal" foregroundColor="DarkRed"/>
      <highlight-row backgroundColor="NoChange" condition="level== LogLevel.Error" foregroundColor="Red"/>
      <highlight-row backgroundColor="NoChange" condition="level== LogLevel.Warn" foregroundColor="DarkYellow"/>
      <highlight-row backgroundColor="NoChange" condition="level== LogLevel.Info" foregroundColor="White"/>
      <highlight-row backgroundColor="NoChange" condition="level== LogLevel.Debug" foregroundColor="DarkCyan"/>
      <highlight-row backgroundColor="NoChange" condition="level== LogLevel.Trace" foregroundColor="DarkGray"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
  </rules>

</nlog>
